.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task input[type='checkbox'] {

    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid var(--blue);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

    margin-right: 12px;
}

.task div {
    display: flex;
}

.task input[type='checkbox']:checked {
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);
}

.textTaskChecked {
    color: var(--gray-300);
    text-decoration: line-through;
}

.task button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;

    line-height: 0;
    border-radius: 4px;
}

.task button:hover {
    color: var(--danger);
}